#page-teacher-form {
    width: 100vw;
    height: 100vh;
    margin-bottom: 3.84rem;
}

.schedule-item + .schedule-item {
    margin-top: 1.44rem;
}

#page-teacher-form main {
    background: var(--color-box-base);
    width: 100%;
    max-width: 42.4rem;
    border-radius: 0.48rem;
    margin: 0 auto 1.92rem;
    padding-top: 1.44rem;
    padding-bottom: 0.52rem;
    overflow: hidden;
}

#page-teacher-form main fieldset {
    border: 0;
    padding: 0 1.44rem 1.44rem 1.44rem;
}

#page-teacher-form main fieldset legend {
    font-size: 1.44rem;
    font-weight: 700;
    color: var(--color-text-title);
    margin-bottom: 1.44rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.96rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

#page-teacher-form main label {
    color: var(--color-text-complement);
}

#page-teacher-form main footer {
    padding: 1.44rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.84rem;
}

#page-teacher-form main footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.84rem;
    line-height: 1.44rem;
    color: var(--color-text-complement);    
}

#page-teacher-form main footer img {
    margin-right: 1.2rem;
}

@media(min-width: 700px) {

    #page-teacher-form {
        max-width: 100vw;
        margin-bottom: 0px;
    }

    #page-teacher-form main {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #page-teacher-form main fieldset {
        padding: 0 3.84rem;
    }

    #page-teacher-form main fieldset legend {
        padding-top: 2.88rem;
    }

    #page-teacher-form main .schedule-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 0.96rem;
    }

    #page-teacher-form main .schedule-item .input-block {
        margin-top: 0 !important;
    }

    #page-teacher-form main footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 3.84rem;
        padding-right: 3.84rem;
    }

    #page-teacher-form main footer p {
        justify-content: space-between;
    }

}
