.page-landing {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#page-landing-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.logo-container img {
    height: 6rem;
}

.hero-image {
    width: 90%;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 0.5rem;
}

.buttons-container {
    display: flex;
    margin: 3.2rem 0;
    justify-content: center;
}

.buttons-container a {
    width: 11rem;
    height: 5.6rem;
    border-radius: 0.8rem;
    font-weight: 700;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;
}

.buttons-container a:first-child {
    margin-right: 1.0rem;
}

.buttons-container a img {
    width: 2.5rem;
    margin-right: 0.6rem;
}

.buttons-container a.study {
    background: var(--color-primary-lighter);
}
.buttons-container a.study:hover {
    background: var(--color-primary-light);
}

.buttons-container a.give-classes {
    background: var(--color-secondary);
}
.buttons-container a.give-classes:hover {
    background: var(--color-secondary-dark);
}

.total-connections {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: 0.8rem;
}

@media(min-width: 1000px) {

    #page-landing-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 2fr 2fr;
        grid-template-areas:
            "logo hero"
            "logo hero"
            "buttons total"
        ;
    }

    .logo-container {
        align-self: center;
        grid-area: logo;
        margin: 0;
    }
    
    .logo-container h2 {
        font-size: 1.8rem;
    }

    .logo-container img {
        height: 100%;
    }
    
    .hero-image {
        align-self: flex-end;
        justify-self: center;
        min-width: 550px;
        grid-area: hero;
    }
    
    .buttons-container {
        grid-area: buttons;
        justify-self: center;
        align-self: start;
    }
    
    .total-connections {
        grid-area: total;
    }

}