
.teacher-item {
    background: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.48rem;
    margin-top: 1.44rem;
    overflow: hidden;
}

.teacher-item header {
    padding: 1.92rem 1.2rem;
    display: flex;
    align-items: center;
}

.teacher-item header img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
}

.teacher-item header div {
    margin-left: 1.44rem;
}

.teacher-item header div strong {
    font-weight: 700;
    font-size: 1.44rem;
    display: block;
    color: var(--color-text-title);
}

.teacher-item header div span {
    font-size: 0.96rem;
    display: block;
    margin-top: 0.24rem;
    color: var(--color-text-title);
}

.teacher-item > p {
    padding: 0 1.2rem;
    font-size: 0.96rem;
    line-height: 1.68rem;
}

.teacher-item footer {
    padding: 1.92rem 1.2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 1.92rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teacher-item footer p strong {
    color: var(--color-primary);
    font-size: 0.96rem;
    display: block;
}

.teacher-item footer button {
    width: 12rem;
    height: 3.3rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.44rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
}

.teacher-item footer button:hover {
    background: var(--color-secundary-dark);
}

@media (min-width: 700px) {

    .teacher-item header, .teacher-item footer {
        padding: 1.92rem;
    }

    .teacher-item > p {
        padding: 0 1.92rem;
    }

    .teacher-item footer p strong {
        display: initial;
        margin-left: 0.96rem;
    }

    .teacher-item footer button {
        width: 12.38rem;
        font-size: 0.96rem;
        justify-content: center;
    }

    .teacher-item footer button img {
        margin-right: 0.96rem;
    }

}