#page-teacher-list {
    width: 100vw;
    height: 100vh;
}

.page-header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

.page-header .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
}

.page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
    opacity: 0.6;
}

.page-header .top-bar-container > img {
    height: 1.6rem;
}

.header-content {
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 1.0rem auto;
}

.logoImg {
    margin: 10px;
}

.header-content strong {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--color-title-in-primary);
}

.header-content p {
    color: var(--color-title-in-primary);
    margin-top: 1.44rem;
    line-height: 1.56rem;
    font-size: 0.96rem;
    max-width: 30rem;
}
